<div class="container mt-4">
    <form [formGroup]="attendanceForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <h3 class="mb-4 text-center">Update Attendance</h3>
            <div class="form-row">
                <div class="col-sm-6">
                    <label class="form-label" for="id">Select Attendance Record to Update</label>
                    <select class="form-select" id="id" formControlName="id" (change)="onChangeType($event)">
                        <option selected disabled>Select Attendance</option>
                        <option *ngFor="let a of arrAttendance" [ngValue]="a.id">{{a.traineeId}} - Assessment ID: {{a.assessmentId}}</option>
                    </select>
                </div>
            </div>

            <div class="form-row mt-3">
                <div class="col-sm-6">
                    <label for="traineeId">Trainee ID</label>
                    <input id="traineeId" type="text" class="form-control"
                        formControlName="traineeId" placeholder="Enter Trainee ID">
                </div>
            </div>

            <div class="form-row mt-3">
                <div class="col-sm-6">
                    <label for="assessmentId">Assessment ID</label>
                    <input id="assessmentId" type="text" class="form-control"
                        formControlName="assessmentId" placeholder="Enter Assessment ID">
                </div>
            </div>

            <div class="form-row mt-3">
                <div class="col-sm-6">
                    <label for="attended">Attended</label>
                    <input id="attended" type="checkbox" formControlName="attended">
                </div>
            </div>

            <div class="form-row mt-3">
                <div class="col-sm-6">
                    <label for="date">Date</label>
                    <input id="date" type="date" class="form-control"
                        formControlName="date">
                </div>
            </div>
        </div>
        <button class="btn btn-primary mt-4" type="submit">Update Attendance</button>
    </form>
</div>
