<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation" *ngIf="isAdmin()">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Course</button>
  </li>
  <li class="nav-item" role="presentation" *ngIf="isAdmin()">
    <button class="nav-link" id="coursecategory-tab" data-bs-toggle="tab" data-bs-target="#coursecategory-tab-pane" type="button" role="tab" aria-controls="coursecategory-tab-pane" aria-selected="false">Course Category</button>
  </li>
  <li class="nav-item" role="presentation" *ngIf="isAdmin()">
    <button class="nav-link" id="user-tab" data-bs-toggle="tab" data-bs-target="#user-tab-pane" type="button" role="tab" aria-controls="user-tab-pane" aria-selected="false">Users</button>
  </li>
  <li class="nav-item" role="presentation" *ngIf="isAdmin() || isFaculty()">
    <button class="nav-link" id="assessment-tab" data-bs-toggle="tab" data-bs-target="#assessment-tab-pane" type="button" role="tab" aria-controls="assessment-tab-pane" aria-selected="false">Assessment</button>
  </li>
  <li class="nav-item" role="presentation" *ngIf="!isFaculty()">
    <button class="nav-link" id="assessmentscore-tab" data-bs-toggle="tab" data-bs-target="#assessmentscore-tab-pane" type="button" role="tab" aria-controls="assessmentscore-tab-pane" aria-selected="false">Assessment Score</button>
  </li>
  <li class="nav-item" role="presentation" *ngIf="!isFaculty()">
    <button class="nav-link" id="attendance-tab" data-bs-toggle="tab" data-bs-target="#attendance-tab-pane" type="button" role="tab" aria-controls="attendance-tab-pane" aria-selected="false">Attendance</button>
  </li>
  <li class="nav-item" role="presentation" *ngIf="isAdmin()">
    <button class="nav-link" id="report-tab" data-bs-toggle="tab" data-bs-target="#report-tab-pane" type="button" role="tab" aria-controls="report-tab-pane" aria-selected="false">Report</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <!-- Nested Tab 1 Course Tab-->
  <div class="tab-pane fade" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-add-tab" data-bs-toggle="tab" data-bs-target="#home-add-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Add</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link " id="home-view-tab" data-bs-toggle="tab" data-bs-target="#home-view-tab-pane" type="button" role="tab" aria-controls="home-view-tab-pane" aria-selected="false">View</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="home-update-tab" data-bs-toggle="tab" data-bs-target="#home-update-tab-pane" type="button" role="tab" aria-controls="home-update-tab-pane" aria-selected="false">Update</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home-add-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <app-addcourse></app-addcourse>
      </div>
      <div class="tab-pane fade " id="home-view-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <app-viewcourse></app-viewcourse>
      </div>
      <div class="tab-pane fade" id="home-update-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <app-updatecourse></app-updatecourse>
      </div>
    </div>
  </div>
  <!-- End of Course tab-->

  <!-- Nested Tab 1 Course Category Tab-->
  <div class="tab-pane fade" id="coursecategory-tab-pane" role="tabpanel" aria-labelledby="coursecategory-tab" tabindex="0">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="coursecategory-add-tab" data-bs-toggle="tab" data-bs-target="#coursecategory-add-tab-pane" type="button" role="tab" aria-controls="coursecategory-tab-pane" aria-selected="true">Add</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link " id="coursecategory-view-tab" data-bs-toggle="tab" data-bs-target="#coursecategory-view-tab-pane" type="button" role="tab" aria-controls="coursecategory-view-tab-pane" aria-selected="false">View</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="coursecategory-update-tab" data-bs-toggle="tab" data-bs-target="#coursecategory-update-tab-pane" type="button" role="tab" aria-controls="coursecategory-update-tab-pane" aria-selected="false">Update</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="coursecategory-add-tab-pane" role="tabpanel" aria-labelledby="coursecategory-tab" tabindex="0">
        <app-addcategory></app-addcategory>
      </div>
      <div class="tab-pane fade" id="coursecategory-view-tab-pane" role="tabpanel" aria-labelledby="coursecategory-tab" tabindex="0">
        <app-viewcategory></app-viewcategory>
      </div>
      <div class="tab-pane fade" id="coursecategory-update-tab-pane" role="tabpanel" aria-labelledby="coursecategory-tab" tabindex="0">
        <app-updatecategory></app-updatecategory>
      </div>
    </div>
  </div>
  <!-- End of Course Category tab-->

  <!-- Nested Tab 1 Users Tab-->
  <div class="tab-pane fade" id="user-tab-pane" role="tabpanel" aria-labelledby="user-tab" tabindex="0">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link " id="user-view-tab" data-bs-toggle="tab" data-bs-target="#user-view-tab-pane" type="button" role="tab" aria-controls="user-view-tab-pane" aria-selected="false">View</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="user-update-tab" data-bs-toggle="tab" data-bs-target="#user-update-tab-pane" type="button" role="tab" aria-controls="user-update-tab-pane" aria-selected="false">Update</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" id="user-view-tab-pane" role="tabpanel" aria-labelledby="user-tab" tabindex="0">
        <app-viewuser></app-viewuser>
      </div>
      <div class="tab-pane fade" id="user-update-tab-pane" role="tabpanel" aria-labelledby="user-tab" tabindex="0">
        <app-updateuser></app-updateuser>
      </div>
    </div>
  </div>
  <!-- End of Users tab-->

  
  <div class="tab-pane fade" id="assessment-tab-pane" role="tabpanel" aria-labelledby="assessment-tab" tabindex="0">
    <!--Nested tab 5 Assessment Tab-->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="assessment-add-tab" data-bs-toggle="tab" data-bs-target="#assessment-add-tab-pane" type="button" role="tab" aria-controls="assessment-tab-pane" aria-selected="true">Add</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link " id="assessment-view-tab" data-bs-toggle="tab" data-bs-target="#assessment-view-tab-pane" type="button" role="tab" aria-controls="assessment-view-tab-pane" aria-selected="false">View</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="assessment-update-tab" data-bs-toggle="tab" data-bs-target="#assessment-update-tab-pane" type="button" role="tab" aria-controls="assessment-update-tab-pane" aria-selected="false">Update</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="assessment-add-tab-pane" role="tabpanel" aria-labelledby="assessment-add-tab" tabindex="0">
        <app-addassessment></app-addassessment>
      </div>
      <div class="tab-pane fade" id="assessment-view-tab-pane" role="tabpanel" aria-labelledby="assessment-view-tab" tabindex="0">
        <app-view-assessment></app-view-assessment>
      </div>
      <div class="tab-pane fade" id="assessment-update-tab-pane" role="tabpanel" aria-labelledby="assessment-update-tab" tabindex="0">
        <app-updateassessment></app-updateassessment>
      </div>
    </div>
    <!--End of assessment Tab-->   
  </div>

  <!--Nested tab 5 Assessment Tab-->
  <div class="tab-pane fade" id="assessmentscore-tab-pane" role="tabpanel" aria-labelledby="assessmentscore-tab" tabindex="0">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation" *ngIf="isAdmin()">
        <button class="nav-link active" id="assessmentscore-add-tab" data-bs-toggle="tab" data-bs-target="#assessmentscore-add-tab-pane" type="button" role="tab" aria-controls="assessmentscore-tab-pane" aria-selected="true">Add</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link " id="assessmentscore-view-tab" data-bs-toggle="tab" data-bs-target="#assessmentscore-view-tab-pane" type="button" role="tab" aria-controls="assessmentscore-view-tab-pane" aria-selected="false">View</button>
      </li>
      <li class="nav-item" role="presentation" *ngIf="isAdmin()">
        <button class="nav-link" id="assessmentscore-update-tab" data-bs-toggle="tab" data-bs-target="#assessmentscore-update-tab-pane" type="button" role="tab" aria-controls="assessmentscore-update-tab-pane" aria-selected="false">Update</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" id="assessmentscore-add-tab-pane" role="tabpanel" aria-labelledby="assessmentscore-add-tab" tabindex="0">
        <app-add-assessmentscore></app-add-assessmentscore>
      </div>
      <div class="tab-pane fade" id="assessmentscore-view-tab-pane" role="tabpanel" aria-labelledby="assessmentscore-view-tab" tabindex="0">
        <app-view-assessmentscore></app-view-assessmentscore>
      </div>
      <div class="tab-pane fade" id="assessmentscore-update-tab-pane" role="tabpanel" aria-labelledby="assessmentscore-update-tab" tabindex="0">
        <app-update-assessmentscore></app-update-assessmentscore>
      </div>
    </div>
  </div>
  <!--End of assessment Tab-->   

  <!--Nested tab Attendance Tab-->
  <div class="tab-pane fade" id="attendance-tab-pane" role="tabpanel" aria-labelledby="attendance-tab" tabindex="0">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation" *ngIf="isAdmin()">
        <button class="nav-link" id="attendance-add-tab" data-bs-toggle="tab" data-bs-target="#attendance-add-tab-pane" type="button" role="tab" aria-controls="attendance-tab-pane" aria-selected="true">Add</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link " id="attendance-view-tab" data-bs-toggle="tab" data-bs-target="#attendance-view-tab-pane" type="button" role="tab" aria-controls="attendance-view-tab-pane" aria-selected="false">View</button>
      </li>
      <li class="nav-item" role="presentation" *ngIf="isAdmin()">
        <button class="nav-link" id="attendance-update-tab" data-bs-toggle="tab" data-bs-target="#attendance-update-tab-pane" type="button" role="tab" aria-controls="attendance-update-tab-pane" aria-selected="false">Update</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" id="attendance-add-tab-pane" role="tabpanel" aria-labelledby="attendance-add-tab" tabindex="0">
        <app-addattendance></app-addattendance>
      </div>
      <div class="tab-pane fade" id="attendance-view-tab-pane" role="tabpanel" aria-labelledby="attendance-view-tab" tabindex="0">
        <app-viewattendance></app-viewattendance>
      </div>
      <div class="tab-pane fade" id="attendance-update-tab-pane" role="tabpanel" aria-labelledby="attendance-update-tab" tabindex="0">
        <app-updateattendance></app-updateattendance>
      </div>
    </div>
  </div>
  <!--End of attendance Tab-->   

  <!--Nested tab Report Tab-->
  <div class="tab-pane fade" id="report-tab-pane" role="tabpanel" aria-labelledby="report-tab" tabindex="0">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="report-add-tab" data-bs-toggle="tab" data-bs-target="#report-add-tab-pane" type="button" role="tab" aria-controls="report-tab-pane" aria-selected="true">Add</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="report-view-tab" data-bs-toggle="tab" data-bs-target="#report-view-tab-pane" type="button" role="tab" aria-controls="report-view-tab-pane" aria-selected="false">View</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="report-update-tab" data-bs-toggle="tab" data-bs-target="#report-update-tab-pane" type="button" role="tab" aria-controls="report-update-tab-pane" aria-selected="false">Update</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="report-add-tab-pane" role="tabpanel" aria-labelledby="report-add-tab" tabindex="0">
        <app-addreport></app-addreport>
      </div>
      <div class="tab-pane fade" id="report-view-tab-pane" role="tabpanel" aria-labelledby="report-view-tab" tabindex="0">
        <app-viewreport></app-viewreport>
      </div>
      <div class="tab-pane fade" id="report-update-tab-pane" role="tabpanel" aria-labelledby="report-update-tab" tabindex="0">
        <app-updatereport></app-updatereport>
      </div>
    </div>
  </div>
  <!--End of report Tab-->   
  
</div>