<div class="container mt-4">
    <form [formGroup]="facultyForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <h3 class="mb-4 text-center">Add Faculty</h3>
            <div class="form-row">
                <div class="col-sm-6">
                    <label for="Id">ID</label>
                    <input id="Id" type="text" class="form-control"
                        formControlName="Id" placeholder="Enter Faculty ID">
                    <div *ngIf="facultyForm.controls['Id'].hasError('required') && facultyForm.controls['Id'].touched">
                        Id is required
                    </div>
                </div>
            </div>

            <div class="form-row mt-3">
                <div class="col-sm-6">
                    <label for="userId">User ID</label>
                    <input id="userId" type="text" class="form-control"
                        formControlName="userId" placeholder="Enter User ID">
                    <div *ngIf="facultyForm.controls['userId'].hasError('required') && facultyForm.controls['userId'].touched">
                        User ID is required
                    </div>
                </div>
            </div>

            <div class="form-row mt-3">
                <div class="col-sm-6">
                    <label for="name">Name</label>
                    <input id="name" type="text" class="form-control"
                        formControlName="name" placeholder="Enter Faculty Name">
                    <div *ngIf="facultyForm.controls['name'].hasError('required') && facultyForm.controls['name'].touched">
                        Name is required
                    </div>
                    <div *ngIf="facultyForm.controls['name'].hasError('minlength') && facultyForm.controls['name'].touched">
                        Name must be at least 3 characters long
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary mt-4" type="submit">Add Faculty</button>
    </form>
</div>
