<div class="container mt-4">
    <form [formGroup]="attendanceForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <h3 class="mb-4 text-center">Add Attendance</h3>
            
            <div class="form-row">
                <div class="col-sm-6">
                    <label for="id">ID</label>
                    <input id="id" type="text" class="form-control" formControlName="id" placeholder="Enter Attendance ID">
                    <div *ngIf="attendanceForm.controls['id'].hasError('required') && attendanceForm.controls['id'].touched">
                        ID is required
                    </div>
                </div>
            </div>

            <div class="form-row mt-3">
                <div class="col-sm-6">
                    <label for="traineeId">Trainee ID</label>
                    <input id="traineeId" type="text" class="form-control" formControlName="traineeId" placeholder="Enter Trainee ID">
                    <div *ngIf="attendanceForm.controls['traineeId'].hasError('required') && attendanceForm.controls['traineeId'].touched">
                        Trainee ID is required
                    </div>
                </div>
            </div>

            <div class="form-row mt-3">
                <div class="col-sm-6">
                    <label for="assessmentId">Assessment ID</label>
                    <input id="assessmentId" type="text" class="form-control" formControlName="assessmentId" placeholder="Enter Assessment ID">
                    <div *ngIf="attendanceForm.controls['assessmentId'].hasError('required') && attendanceForm.controls['assessmentId'].touched">
                        Assessment ID is required
                    </div>
                </div>
            </div>

            <div class="form-row mt-3">
                <div class="col-sm-6">
                    <label for="attended">Attended</label>
                    <div class="form-check">
                        <input id="attended" type="checkbox" class="form-check-input" formControlName="attended">
                        <label class="form-check-label" for="attended">Attended/Not Attended</label>
                    </div>
                </div>
            </div>

            <div class="form-row mt-3">
                <div class="col-sm-6">
                    <label for="date">Date</label>
                    <input id="date" type="date" class="form-control" formControlName="date">
                    <div *ngIf="attendanceForm.controls['date'].hasError('required') && attendanceForm.controls['date'].touched">
                        Date is required
                    </div>
                </div>
            </div>

        </div>
        <button class="btn btn-primary mt-4" type="submit">Add Attendance</button>
    </form>
</div>
