<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a mdbRipple class="mx-3 bg-dark btn btn-outline-light btn-floating m-1" role="button"
        ><i class="fas fa-graduation-cap"></i></a>
      <a class="navbar-brand" [routerLink]="'/home'">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/about'">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/viewassessment'">Assessment</a> <!--*ngIf="isLoggedIn"-->
        </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/admin'" *ngIf="isLoggedIn">Admin</a>  <!--*ngIf="isAdmin"-->
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/dashboard'" *ngIf="isLoggedIn">DashBoard</a>
          </li>
        </ul>
        <!-- Modals -->
         <!-- Button trigger modal -->
<button class="btn btn-primary" *ngIf="!isLoggedIn" data-bs-toggle="modal" data-bs-target="#signInModal">
                    Sign In
                </button>
                <button class="btn btn-logout" *ngIf="isLoggedIn" (click)="onLogout()">
                    Log Out
                </button>

                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal">
                  Register
              </button>


<!-- Modal -->
<div class="modal fade" id="signInModal" tabindex="-1" aria-labelledby="signInModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="signInModalLabel">Add Student</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form #myForm="ngForm"
        (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input name="userName" [(ngModel)]="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input name="password" [(ngModel)]="password" type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- register modal -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="registerModalLabel">Register Here</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <app-register-modal></app-register-modal>
      </div>
    </div>
  </div>
</div>


      </div>
      <button class="btn btn-secondary" *ngIf="isLoggedIn && isTrainee()">
        <a class="nav-link" [routerLink]="'/cart'">Cart</a>
    </button>
    </div>
  </nav>
